In [ ]:
import pandas as pd
import numpy as np
import json

In [ ]:
# Load data from google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
with open('drive/MyDrive/1.DATA/QQA/QQA_train.json', 'r') as file:
    training_data = json.load(file)
    training_df = pd.DataFrame(training_data)

with open('drive/MyDrive/1.DATA/QQA/QQA_dev.json', 'r') as file:
    validation_data = json.load(file)
    validation_df = pd.DataFrame(validation_data)

with open('drive/MyDrive/1.DATA/QQA/QQA_test.json', 'r') as file:
    testing_data = json.load(file)
    testing_df = pd.DataFrame(testing_data)

In [ ]:
QQA_dataset = pd.concat([training_df, validation_df, testing_df])

In [ ]:
QQA_dataset

,question,Option1,Option2,answer,type,question_sci_10E,question_char,question_sci_10E_char,question_mask
0,The ranger and the rustler both were riding ho...,the ranger,the rustler,Option 2,Type_3,The ranger and the rustler both were riding ho...,The ranger and the rustler both were riding ho...,The ranger and the rustler both were riding ho...,The ranger and the rustler both were riding ho...
1,Tina is racing her two dogs. Her greyhound wei...,rottweiler,greyhound,Option 1,Type_3,Tina is racing her two dogs. Her greyhound wei...,Tina is racing her two dogs. Her greyhound wei...,Tina is racing her two dogs. Her greyhound wei...,Tina is racing her two dogs. Her greyhound wei...
2,Mike and Sue decide to ride their bikes around...,Mike,Sue,Option 2,Type_3,Mike and Sue decide to ride their bikes around...,Mike and Sue decide to ride their bikes around...,Mike and Sue decide to ride their bikes around...,Mike and Sue decide to ride their bikes around...
3,A tank weighs around 63 tons. A toy car weighs...,the tank will speed up faster than the toy car,the toy car will speed up faster than the tank,Option 2,Type_3,A tank weighs around 6.3000000000E+01 tons. A ...,A tank weighs around 6 3 tons. A toy car weigh...,A tank weighs around 6 . 3 0 0 0 0 0 0 0 0 0 E...,A tank weighs around [Num] tons. A toy car wei...
4,The mammoth moved at a speed of 21 km per hour...,less resistance,more resistance,Option 2,Type_3,The mammoth moved at a speed of 2.1000000000E+...,The mammoth moved at a speed of 2 1 km per hou...,The mammoth moved at a speed of 2 . 1 0 0 0 0 ...,The mammoth moved at a speed of [Num] km per h...
...,...,...,...,...,...,...,...,...,...
157,Howard needed a new bed frame. He needed one ...,thick,thin.,Option 1,Type_3,Howard needed a new bed frame. He needed one ...,Howard needed a new bed frame. He needed one ...,Howard needed a new bed frame. He needed one ...,Howard needed a new bed frame. He needed one ...
158,A spider's temperature becomes 97 F while scur...,web,tree,Option 2,Type_3,A spider's temperature becomes 9.7000000000E+0...,A spider's temperature becomes 9 7 F while scu...,A spider's temperature becomes 9 . 7 0 0 0 0 0...,A spider's temperature becomes [Num] F while s...
159,A spider's temperature becomes 34 C while scur...,web,tree,Option 1,Type_3,A spider's temperature becomes 3.4000000000E+0...,A spider's temperature becomes 3 4 C while scu...,A spider's temperature becomes 3 . 4 0 0 0 0 0...,A spider's temperature becomes [Num] C while s...
160,A butterfly can fly at a speed of 7 miles per ...,bushes,open air,Option 1,Type_3,A butterfly can fly at a speed of 7.0000000000...,A butterfly can fly at a speed of 7 miles per ...,A butterfly can fly at a speed of 7 . 0 0 0 0 ...,A butterfly can fly at a speed of [Num] miles ...
161,Two robins were flying south at the same veloc...,the male,the female,Option 2,Type_3,Two robins were flying south at the same veloc...,Two robins were flying south at the same veloc...,Two robins were flying south at the same veloc...,Two robins were flying south at the same veloc...

In [ ]:
with open('drive/MyDrive/1.DATA/QP/Numeracy600K_headline_train.json', 'r') as file:
    training_data = json.load(file)
    training_df = pd.DataFrame(training_data)

In [ ]:
with open('drive/MyDrive/1.DATA/QP/Numeracy600K_headline_dev.json', 'r') as file:
    validation_d = file.readlines()
    validation_data = json.loads(validation_d[0][:-1])
    validation_df = pd.DataFrame(validation_data)

In [ ]:
with open('drive/MyDrive/1.DATA/QP/Numeracy600K_headline_test.json', 'r') as file:
    testing_data = json.load(file)
    testing_df = pd.DataFrame(testing_data)

In [ ]:
QP_headline = pd.concat([training_df, validation_df, testing_df])

In [ ]:
QP_headline

,id,title,publish_date,number,offset,length,magnitude,masked,title_sci_10E,title_char,title_sci_10E_char
0,0,100 Most Anticipated books releasing in 2010,20100101,2010,40,4,4,100 Most Anticipated books releasing in [Num],1.0000000000E+02 Most Anticipated books releas...,1 0 0 Most Anticipated books releasing in [Num],1 . 0 0 0 0 0 0 0 0 0 0 E + 0 2 Most Anticipat...
1,1,10 best films of 2009 - What's on your list?,20100101,2009,17,4,4,10 best films of [Num] - What's on your list?,1.0000000000E+01 best films of [Num] - What's ...,1 0 best films of [Num] - What's on your list?,1 . 0 0 0 0 0 0 0 0 0 0 E + 0 1 best films of ...
2,2,10 days of free admission at Lan Su Chinese Ga...,20100101,10,0,2,2,[Num] days of free admission at Lan Su Chinese...,[Num] days of free admission at Lan Su Chinese...,[Num] days of free admission at Lan Su Chinese...,[Num] days of free admission at Lan Su Chinese...
3,3,10 PlayStation games to watch out for in 2010,20100101,2010,41,4,4,10 PlayStation games to watch out for in [Num],1.0000000000E+01 PlayStation games to watch ou...,1 0 PlayStation games to watch out for in [Num],1 . 0 0 0 0 0 0 0 0 0 0 E + 0 1 PlayStation ga...
4,4,10 resolutions for a Happy New Year for you an...,20100101,10,0,2,2,[Num] resolutions for a Happy New Year for you...,[Num] resolutions for a Happy New Year for you...,[Num] resolutions for a Happy New Year for you...,[Num] resolutions for a Happy New Year for you...
...,...,...,...,...,...,...,...,...,...,...,...
59995,599995,"Seth Rogan, James Franco parody Kanye West's '...",20131125,2,52,1,1,"Seth Rogan, James Franco parody Kanye West's '...","Seth Rogan, James Franco parody Kanye West's '...","Seth Rogan, James Franco parody Kanye West's '...","Seth Rogan, James Franco parody Kanye West's '..."
59996,599996,"Shop Black Friday in Orange County, where some...",20131125,28,63,2,2,"Shop Black Friday in Orange County, where some...","Shop Black Friday in Orange County, where some...","Shop Black Friday in Orange County, where some...","Shop Black Friday in Orange County, where some..."
59997,599997,"Shop small for the bikes and the birds, Saturd...",20131125,30,54,2,2,"Shop small for the bikes and the birds, Saturd...","Shop small for the bikes and the birds, Saturd...","Shop small for the bikes and the birds, Saturd...","Shop small for the bikes and the birds, Saturd..."
59998,599998,"Shop small Saturday for music, Nov. 30 2013",20131125,2013,39,4,4,"Shop small Saturday for music, Nov. 30 [Num]","Shop small Saturday for music, Nov. 3.00000000...","Shop small Saturday for music, Nov. 3 0 [Num]","Shop small Saturday for music, Nov. 3 . 0 0 0 ..."
59999,599999,Slideshow: Savanna Harris Todd found alive 19 ...,20131125,19,43,2,2,Slideshow: Savanna Harris Todd found alive [Nu...,Slideshow: Savanna Harris Todd found alive [Nu...,Slideshow: Savanna Harris Todd found alive [Nu...,Slideshow: Savanna Harris Todd found alive [Nu...

In [ ]:
with open('drive/MyDrive/1.DATA/QP/Numeracy600K_headline_train.json', 'r') as file:
    training_data = json.load(file)
    training_df = pd.DataFrame(training_data)

In [ ]:
with open('drive/MyDrive/1.DATA/QP/Numeracy600K_comment_test.json', 'r') as file:
    validation_data = json.load(file)
    validation_df = pd.DataFrame(validation_data)

In [ ]:
with open('drive/MyDrive/1.DATA/QP/Numeracy600K_comment_dev.json', 'r') as file:
    testing_d = file.readlines()
    testing_data = json.loads(testing_d[0][:-6])
    testing_df = pd.DataFrame(testing_data)

In [ ]:
QP_comment = pd.concat([training_df, validation_df, testing_df])

In [ ]:
QP_comment

,id,title,publish_date,number,offset,length,magnitude,masked,title_sci_10E,title_char,title_sci_10E_char,UNIQUE_STORY_INDEX,comment,comment_sci_10E,comment_char,comment_sci_10E_char
0,0,100 Most Anticipated books releasing in 2010,20100101,2010,40,4,4,100 Most Anticipated books releasing in [Num],1.0000000000E+02 Most Anticipated books releas...,1 0 0 Most Anticipated books releasing in [Num],1 . 0 0 0 0 0 0 0 0 0 0 E + 0 2 Most Anticipat...,NaN,NaN,NaN,NaN,NaN
1,1,10 best films of 2009 - What's on your list?,20100101,2009,17,4,4,10 best films of [Num] - What's on your list?,1.0000000000E+01 best films of [Num] - What's ...,1 0 best films of [Num] - What's on your list?,1 . 0 0 0 0 0 0 0 0 0 0 E + 0 1 best films of ...,NaN,NaN,NaN,NaN,NaN
2,2,10 days of free admission at Lan Su Chinese Ga...,20100101,10,0,2,2,[Num] days of free admission at Lan Su Chinese...,[Num] days of free admission at Lan Su Chinese...,[Num] days of free admission at Lan Su Chinese...,[Num] days of free admission at Lan Su Chinese...,NaN,NaN,NaN,NaN,NaN
3,3,10 PlayStation games to watch out for in 2010,20100101,2010,41,4,4,10 PlayStation games to watch out for in [Num],1.0000000000E+01 PlayStation games to watch ou...,1 0 PlayStation games to watch out for in [Num],1 . 0 0 0 0 0 0 0 0 0 0 E + 0 1 PlayStation ga...,NaN,NaN,NaN,NaN,NaN
4,4,10 resolutions for a Happy New Year for you an...,20100101,10,0,2,2,[Num] resolutions for a Happy New Year for you...,[Num] resolutions for a Happy New Year for you...,[Num] resolutions for a Happy New Year for you...,[Num] resolutions for a Happy New Year for you...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,539995,NaN,NaN,19.8,113,4,2,FIRST SENSOR AG <SISG.DE> SAYS 9MTH EBIT ADJUS...,NaN,NaN,NaN,20141110115045nASN0005FW,FIRST SENSOR AG <SISG.DE> SAYS 9MTH EBIT ADJUS...,FIRST SENSOR AG <SISG.DE> SAYS 9.0000000000E+0...,FIRST SENSOR AG <SISG.DE> SAYS 9MTH EBIT ADJUS...,FIRST SENSOR AG <SISG.DE> SAYS 9 . 0 0 0 0 0 0...
59996,539996,NaN,NaN,35.9,85,4,2,EHI CAR SERVICES LTD <EHIC.N> QTRLY NET REVENU...,NaN,NaN,NaN,20141211120440nASD083FT,EHI CAR SERVICES LTD <EHIC.N> QTRLY NET REVENU...,EHI CAR SERVICES LTD <EHIC.N> QTRLY NET REVENU...,EHI CAR SERVICES LTD <EHIC.N> QTRLY NET REVENU...,EHI CAR SERVICES LTD <EHIC.N> QTRLY NET REVENU...
59997,539997,NaN,NaN,0.66,35,4,0,CNA FINANCIAL CORP <CNA.N> Q3 SHR $[Num],NaN,NaN,NaN,20151102110010nASB0ADRW,CNA FINANCIAL CORP <CNA.N> Q3 SHR $0.66,CNA FINANCIAL CORP <CNA.N> Q3.0000000000E+00 S...,CNA FINANCIAL CORP <CNA.N> Q3 SHR $[Num],CNA FINANCIAL CORP <CNA.N> Q3 . 0 0 0 0 0 0 0 ...
59998,539998,NaN,NaN,100.46,142,6,3,BROOKFIELD ASSET MANAGEMENT - NOTES WILL HAVE ...,NaN,NaN,NaN,20131017162022nASA0878W,BROOKFIELD ASSET MANAGEMENT - NOTES WILL HAVE ...,BROOKFIELD ASSET MANAGEMENT - NOTES WILL HAVE ...,BROOKFIELD ASSET MANAGEMENT - NOTES WILL HAVE ...,BROOKFIELD ASSET MANAGEMENT - NOTES WILL HAVE ...
59999,539999,NaN,NaN,0.6,102,3,0,NEW JERSEY RESOURCES CORP <NJR.N> SEES Q3 NFE ...,NaN,NaN,NaN,20140716120245nWNBB04RZA,NEW JERSEY RESOURCES CORP <NJR.N> SEES Q3 NFE ...,NEW JERSEY RESOURCES CORP <NJR.N> SEES Q3.0.00...,NEW JERSEY RESOURCES CORP <NJR.N> SEES Q3 NFE ...,NEW JERSEY RESOURCES CORP <NJR.N> SEES Q3 . 0 ...

In [ ]:
with open('drive/MyDrive/1.DATA/QNLI/QNLI-StressTest/QNLI-StressTest_train.json', 'r') as file:
    training_data = json.load(file)
    training_df = pd.DataFrame(training_data)

In [ ]:
with open('drive/MyDrive/1.DATA/QNLI/QNLI-StressTest/QNLI-StressTest_test.json', 'r') as file:
    testing_data = json.load(file)
    testing_df = pd.DataFrame(testing_data)

In [ ]:
with open('drive/MyDrive/1.DATA/QNLI/QNLI-StressTest/QNLI-StressTest_test.json', 'r') as file:
    validation_data = json.load(file)
    validation_df = pd.DataFrame(validation_data)

In [ ]:
QNLI_dataset = pd.concat([training_df, validation_df, testing_df])

In [ ]:
QNLI_dataset

,statement1,statement2,options,answer,type,statement1_sci_10E,statement1_char,statement1_sci_10E_char,statement2_sci_10E,statement2_char,statement2_sci_10E_char,statement1_mask,statement2_mask,EQUATE
0,'' Someone just came in and shot my daughter a...,"Raul Flores , daughter , 9 , shot dead ; wire ...",Entailment or neutral?,neutral,Type_7,'' Someone just came in and shot my daughter a...,'' Someone just came in and shot my daughter a...,'' Someone just came in and shot my daughter a...,"Raul Flores , daughter , 9.0000000000E+00 , sh...","Raul Flores , daughter , 9 , shot dead ; wire ...","Raul Flores , daughter , 9 . 0 0 0 0 0 0 0 0 0...",'' Someone just came in and shot my daughter a...,"Raul Flores , daughter , [Num] , shot dead ; w...",NewsNLI
1,"A $ 5,000 reward is offered .",Know something ? Call 641-228-182 . A reward i...,Entailment or neutral?,neutral,Type_7,A $ 5.0000000000E+03 reward is offered .,"A $ 5 , 0 0 0 reward is offered .",A $ 5 . 0 0 0 0 0 0 0 0 0 0 E + 0 3 reward is ...,Know something ? Call 6.4100000000E+02-2.28000...,Know something ? Call 6 4 1- 2 2 8- 1 8 2 . A ...,Know something ? Call 6 . 4 1 0 0 0 0 0 0 0 0 ...,A $ [Num] reward is offered .,Know something ? Call [Num][Num][Num] . A rewa...,NewsNLI
2,"At Veridux Corporation , there are 250 employees","At Veridux Corporation , there are less than 6...",Entailment or contradiction or neutral?,Entailment,Type_7,"At Veridux Corporation , there are 2.500000000...","At Veridux Corporation , there are 2 5 0 emplo...","At Veridux Corporation , there are 2 . 5 0 0 0...","At Veridux Corporation , there are less than 6...","At Veridux Corporation , there are less than 6...","At Veridux Corporation , there are less than 6...","At Veridux Corporation , there are [Num] emplo...","At Veridux Corporation , there are less than [...",StressTest
3,The ratio between the number of sheep and the ...,The ratio between the number of sheep and the ...,Entailment or contradiction or neutral?,contradiction,Type_7,The ratio between the number of sheep and the ...,The ratio between the number of sheep and the ...,The ratio between the number of sheep and the ...,The ratio between the number of sheep and the ...,The ratio between the number of sheep and the ...,The ratio between the number of sheep and the ...,The ratio between the number of sheep and the ...,The ratio between the number of sheep and the ...,StressTest
4,More than 1.2 million people have since viewed...,Over 1.2 million people have viewed it on YouTube,Entailment or neutral?,Entailment,Type_7,More than 1.2000000000E+00 million people have...,More than 1 . 2 million people have since view...,More than 1 . 2 0 0 0 0 0 0 0 0 0 E + 0 0 mill...,Over 1.2000000000E+00 million people have view...,Over 1 . 2 million people have viewed it on Yo...,Over 1 . 2 0 0 0 0 0 0 0 0 0 E + 0 0 million p...,More than [Num] million people have since view...,Over [Num] million people have viewed it on Yo...,NewsNLI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1686,"Store Z : $ 90 , a 20 % sales tax , and $ 10 r...","Store Z : $ more than 70 , a 20 % sales tax , ...",Entailment or contradiction or neutral?,Entailment,Type_7,"Store Z : $ 9.0000000000E+01 , a 2.0000000000E...","Store Z : $ 9 0 , a 2 0 % sales tax , and $ 1 ...","Store Z : $ 9 . 0 0 0 0 0 0 0 0 0 0 E + 0 1 , ...","Store Z : $ more than 7.0000000000E+01 , a 2.0...","Store Z : $ more than 7 0 , a 2 0 % sales tax ...",Store Z : $ more than 7 . 0 0 0 0 0 0 0 0 0 0 ...,"Store Z : $ [Num] , a [Num] % sales tax , and ...","Store Z : $ more than [Num] , a [Num] % sales ...",StressTest
1687,If there are 4 peanuts in a box and Mary puts ...,If there are 2 peanuts in a box and Mary puts ...,Entailment or contradiction or neutral?,contradiction,Type_7,If there are 4.0000000000E+00 peanuts in a box...,If there are 4 peanuts in a box and Mary puts ...,If there are 4 . 0 0 0 0 0 0 0 0 0 0 E + 0 0 p...,If there are 2.0000000000E+00 peanuts in a box...,If there are 2 peanuts in a box and Mary puts ...,If there are 2 . 0 0 0 0 0 0 0 0 0 0 E + 0 0 p...,If there are [Num] peanuts in a box and Mary p...,If there are [Num] peanuts in a box and Mary p...,StressTest
1688,From a group of 6 boys & 4 girls a Committee o...,From a group of more than 6 boys & 4 girls a C...,Entailment or contradiction or neutral?,contradiction,Type_7,From a group of 6.0000000000E+00 boys & 4.0000...,From a group of 6 boys & 4 girls a Committee o...,From a group of 6 . 0 0 0 0 0 0 0 0 0 0 E + 0 ...,From a group of more than 6.0000000000E+00 boy...,From a group of more than 6 boys & 4 girls a C...,From a group of more than 6 . 0 0 0 0 0 0 0 0 ...,From a group of [Num] boys & [Num] girls a Com...,From a group of more than [Num] boys & [Num] g...,StressTest
1689,"Dacid obtained more than 16 , 95 , 82 , 87 and...","Dacid obtained 96 , 95 , 82 , 87 and 92 marks ...",Entailment or contradiction or neutral?,neutral,Type_7,"Dacid obtained more than 1.6000000000E+01 , 9....","Dacid obtained more than 1 6 , 9 5 , 8 2 , 8 7...",Dacid obtained more than 1 . 6 0 0 0 0 0 0 0 0...,"Dacid obtained 9.6000000000E+01 , 9.5000000000...","Dacid obtained 9 6 , 9 5 , 8 2 , 8 7 and 9 2 m...",Dacid obtained 9 . 6 0 0 0 0 0 0 0 0 0 E + 0 1...,"Dacid obtained more than [Num] , [Num] , [Num]...","Dacid obtained [Num] , [Num] , [Num] , [Num] a...",StressTest
1690,"Rajat , Vikas and Abhishek are submitting ques...","Rajat , Vikas and Abhishek are submitting ques...",Entailment or contradiction or neutral?,Entailment,Type_7,"Rajat , Vikas and Abhishek are submitting ques...","Rajat , Vikas and Abhishek are submitting ques...","Rajat , Vikas and Abhishek are submitting ques...","Rajat , Vikas and Abhishek are submitting ques...","Rajat , Vikas and Abhishek are submitting ques...","Rajat , Vikas and Abhishek are submitting ques...","Rajat , Vikas and Abhishek are submitting ques...","Rajat , Vikas and Abhishek are submitting ques...",StressTest

In [ ]:
# QNLI_dataset, QP_comment, QP_headline, QQA_dataset

In [ ]:
result = pd.concat([QNLI_dataset['statement1'], QNLI_dataset['statement2'],QQA_dataset['question'], QP_headline['title'], QP_comment['title']])
result.columns = ['inputstr']  # Renaming the resulting column
result = result.dropna()

In [ ]:
result

0         '' Someone just came in and shot my daughter a...
1                             A $ 5,000 reward is offered .
2          At Veridux Corporation , there are 250 employees
3         The ratio between the number of sheep and the ...
4         More than 1.2 million people have since viewed...
                                ...
479995           Baylor advance to Big 12 Championship Game
479996    Beanie Wells on track to return Nov. 25 for Ar...
479997       BGR - The Burger Joint: DC Burger Craze Part 2
479998    Bigfoot Bounty; 10 Million up for grabs, is ca...
479999                    Big Ten football preview: week 10
Length: 1100521, dtype: object

In [ ]:
# Convert the DataFrame to a JSON string
json_data = result.to_json(orient='records')

# Write the JSON string to a file
with open('result.json', 'w') as json_file:
    json_file.write(json_data)